@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');

:root {
  --main-bg-color: #1C0046;
  --main-box-color: #311862;
  --action-color: #FF56A2;
  --secondary-action-color: #FFAFC5;
  --text-color: #F9EDEB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app, html > * {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

h1, h2, h3 {
  font-weight: 600;
}

h2, h3, h4, p {
  margin: 2px;
}

.logo {
  color: var(--action-color);
  font-size: 42px;
  font-family: 'Staatliches',Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}

.logo svg {
  height: 74px;
  width: 74px;
  fill: var(--action-color);
}

main {
  padding: 0 146px;
}